fastapi
uvicorn
face-recognition
dlib-bin
opencv-python
numpy
pillow
python-multipart


# To install the dependencies, run the following command in your terminal:
#rm -rf venv
#py -3.11 -m venv venv
#source venv/Scripts/activate
#pip install dlib-bin
#pip install face-recognition --no-deps
#pip install face-recognition-models numpy pillow click
#pip install fastapi uvicorn python-multipart opencv-python
#$ python -m uvicorn app.main:app --reload
